@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@font-face {
    font-family: Whitney Medium;
    src: url('https://coldycat.github.io/static/fonts/Whitney/Medium.woff') format('woff');
}
@font-face {
    font-family: Whitney Bold;
    src: url('https://coldycat.github.io/static/fonts/Whitney/Bold.woff') format('woff');
}
:root {
    --font-primary: Whitney Medium, Noto Sans;
    --font-display: Whitney Bold, Noto Sans;
}