@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@font-face {
    font-family: Whitney;
    src: url('https://coldycat.github.io/static/fonts/Whitney.otf') format('opentype');
}
body {
    font-family: Whitney, Noto Sans;
}